h1 {
  font-family: 'Permanent Marker', cursive;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.portada {
  background-image: url(../imagenes/portada-1.jpg);
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 992px) {
  .portada {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.azul {
  background-color: #094293 !important;
  -webkit-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
}

.azul-text {
  color: #094293;
}

.naranja {
  background-color: #EA512F !important;
}

.header {
  padding: 10px 16px;
  color: #f1f1f1;
  z-index: 3;
}

@media (min-width: 992px) {
  .header {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: #EA512F;
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block;
  /* Display block instead of inline */
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

.overlay a:hover {
  text-decoration: none;
  color: black !important;
  background-color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlay .closebtn:hover {
  background-color: #EA512F !important;
}

#estudios {
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.info-uni {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#sobre-mi {
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.img-personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 992px) {
  .header #myNav {
    display: none;
  }
  .header .menu {
    display: none;
  }
  .header #Menu-e {
    display: block;
  }
}

@media (max-width: 991px) {
  .header #myNav {
    display: block;
  }
  .header .menu {
    display: block;
  }
  .header #Menu-e {
    display: none;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

#php, #HTML, #CSS, #JAVASCRIPT, #JAVA, #LARAVEL, #HTML5, #BOOSTRAP, #ANGULAR {
  -webkit-transition: all 10s ease;
  -o-transition: all 10s ease;
  transition: all 10s ease;
}

#Menu-e {
  width: 1000px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#Menu-e a {
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  padding-left: 20px;
  padding-right: 20px;
}

#Menu-e a:hover {
  color: black;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.portafolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.portafolio .portafolio-gall {
  height: 350px;
  -webkit-transition: 2s !important;
  -o-transition: 2s !important;
  transition: 2s !important;
}

.portafolio .portafolio-gall a {
  display: block;
  -webkit-transition: 2s !important;
  -o-transition: 2s !important;
  transition: 2s !important;
}

.portafolio .portafolio-gall a img {
  -webkit-transition: 2s !important;
  -o-transition: 2s !important;
  transition: 2s !important;
  height: 350px !important;
}

@media (min-width: 768px) {
  .portafolio .portafolio-gall a:hover {
    width: 100% !important;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    text-align: center !important;
    display: block;
    margin-bottom: 5px;
  }
  .portafolio .portafolio-gall a:hover img {
    width: 80% !important;
    height: 350px !important;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
}

.centrar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */