h1 {
  font-family: "Permanent Marker", cursive;
}

p {
  font-family: "Montserrat", sans-serif;
}

.letra {
  font-family: "Permanent Marker", cursive;
  font-size: 2.2rem;
  font-weight: 300;
}

.texto-best {
  padding: 5%;
}

.portada {
  background: white;
  height: 700px;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.portada .img-fondo {
  position: absolute;
  top: 0;
  left: 0;
  height: 700px;
}
@media (min-width: 992px) {
  .portada {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portada .contenedor {
    width: 100%;
    height: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portada .contenedor .info-port {
    background-color: #0672a2;
    max-width: 500px;
    width: 100%;
    height: 400px;
    z-index: 2;
    padding: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-left: 400px;
    position: relative;
  }
  .portada .contenedor .info-port h1 {
    position: absolute;
    top: 0;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .info-port {
    background-color: #0672a2;
    min-width: 200px;
    width: 400px;
    height: 300px;
    z-index: 2;
    padding: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-left: 150px;
    position: relative;
  }
  .info-port h1 {
    position: absolute;
    top: 0;
  }
  .info-port .info-port-2 {
    width: 270px;
    height: 270px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .info-port {
    background-color: #0672a2;
    min-width: 200px;
    width: 340px;
    height: 330px;
    z-index: 2;
    padding: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-left: 150px;
    position: absolute;
    right: 0;
  }
  .info-port h1 {
    position: absolute;
    top: 0;
  }
  .info-port .info-port-2 {
    width: 218px;
    margin: 0;
  }

  .info-port.gmd-3 {
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }

  .contenedor {
    width: 100%;
    height: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .portada {
    background: white;
    height: 700px;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }

  .efecto-rayas {
    height: auto !important;
  }

  .efecto-rayas:before {
    -webkit-clip-path: circle(50% at 0 50%) !important;
            clip-path: circle(50% at 0 50%) !important;
  }

  .efecto-rayas-3 {
    height: auto !important;
  }

  .efecto-rayas-3:before {
    -webkit-clip-path: circle(50% at 100% 50%) !important;
            clip-path: circle(50% at 100% 50%) !important;
  }

  .efectos-rayas-1:before {
    -webkit-clip-path: ellipse(67% 96% at 99% 3%) !important;
            clip-path: ellipse(67% 96% at 99% 3%) !important;
  }
}
@media (max-width: 991px) {
  .info-desa .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .info-desa .row img {
    width: 90%;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
  }
}
@media (max-width: 479px) {
  .portada.efectos-rayas-1 {
    height: 500px;
    position: relative;
  }
  .portada.efectos-rayas-1 .img-fondo {
    height: 500px;
  }
  .portada.efectos-rayas-1 .contenedor {
    width: 200px;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0px;
    border-radius: 50%;
  }
  .portada.efectos-rayas-1 .contenedor .info-port.gmd-3 {
    width: 180px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 350px;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    overflow: hidden;
  }
  .portada.efectos-rayas-1 .contenedor .info-port.gmd-3 h1 {
    font-size: 1.2rem;
    width: 200px;
    margin-left: 200px;
  }
  .portada.efectos-rayas-1 .contenedor .info-port.gmd-3 .info-port-2 {
    margin: 0;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
  }
  .portada.efectos-rayas-1 .contenedor .info-port.gmd-3 .info-port-2 h2 {
    font-size: 1.5rem;
  }
  .portada.efectos-rayas-1 .contenedor .info-port.gmd-3 .img-portada {
    position: relative;
    height: 80px;
  }

  .efecto-rayas {
    height: auto !important;
  }

  .efecto-rayas:before {
    -webkit-clip-path: circle(50% at 11% 50%) !important;
            clip-path: circle(50% at 11% 50%) !important;
  }

  .efecto-rayas-3 {
    height: auto !important;
  }

  .efecto-rayas-3:before {
    -webkit-clip-path: circle(50% at 100% 50%) !important;
            clip-path: circle(50% at 100% 50%) !important;
  }

  .efectos-rayas-1:before {
    -webkit-clip-path: ellipse(65% 100% at 100% 0%) !important;
            clip-path: ellipse(65% 100% at 100% 0%) !important;
    height: 450px !important;
  }
}
@media (min-width: 480px) and (max-width: 575px) {
  .efectos-rayas-1:before {
    -webkit-clip-path: ellipse(65% 100% at 100% 0%) !important;
            clip-path: ellipse(65% 100% at 100% 0%) !important;
    height: 450px !important;
  }

  .portada.efectos-rayas-1 {
    height: 450px;
    position: relative;
  }
  .portada.efectos-rayas-1 .img-fondo {
    height: 450px;
  }
  .portada.efectos-rayas-1 .contenedor {
    width: 220px;
    background: #11aaf9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    padding-left: 10px;
    right: 0;
    border-radius: 50%;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  .portada.efectos-rayas-1 .contenedor .info-port.gmd-3 {
    width: 200px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 300px;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    overflow: hidden;
    background: #11aaf9;
  }
  .portada.efectos-rayas-1 .contenedor .info-port.gmd-3 h1 {
    font-size: 1.3rem;
    width: 200px;
    margin-left: 200px;
  }
  .portada.efectos-rayas-1 .contenedor .info-port.gmd-3 .info-port-2 {
    margin: 0;
    height: 150px;
    width: 100%;
    background: #11aaf9 !important;
  }
  .portada.efectos-rayas-1 .contenedor .info-port.gmd-3 .info-port-2 .letra {
    font-size: 2.2rem;
    color: white;
  }
  .portada.efectos-rayas-1 .contenedor .info-port.gmd-3 .img-portada {
    position: relative;
    height: 100px;
    width: 150px;
  }

  .efecto-rayas {
    height: auto !important;
  }

  .efecto-rayas:before {
    -webkit-clip-path: circle(50% at 11% 50%) !important;
            clip-path: circle(50% at 11% 50%) !important;
  }

  .efecto-rayas-3 {
    height: auto !important;
  }

  .efecto-rayas-3:before {
    -webkit-clip-path: circle(50% at 100% 50%) !important;
            clip-path: circle(50% at 100% 50%) !important;
  }
}
.img-portada {
  height: 150px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.info-port-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  height: 300px;
}
.info-port-2 h4 {
  color: #0672a2;
  font-weight: bold;
}

.efecto-rayas {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 800px;
}

.contenido {
  width: 90%;
  max-width: 1000px;
}

.efecto-rayas:before {
  content: "";
  background: #499bea;
  background: -webkit-gradient(left top, right top, color-stop(0%, #499bea), color-stop(100%, #00affe));
  background: -o-linear-gradient(left, #499bea 0%, #00affe 100%);
  background: -webkit-gradient(linear, left top, right top, from(#499bea), to(#00affe));
  background: linear-gradient(to right, #499bea 0%, #00affe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#499bea", endColorstr="#00affe", GradientType=1 );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  -webkit-clip-path: circle(70% at 0 100%);
          clip-path: circle(70% at 0 100%);
}

.efectos-rayas-1 {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 700px;
}

.efectos-rayas-1:before {
  content: "";
  background: #499bea;
  background: -webkit-gradient(left top, right top, color-stop(0%, #499bea), color-stop(100%, #00affe));
  background: -o-linear-gradient(left, #499bea 0%, #00affe 100%);
  background: -webkit-gradient(linear, left top, right top, from(#499bea), to(#00affe));
  background: linear-gradient(to right, #499bea 0%, #00affe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#499bea", endColorstr="#00affe", GradientType=1 );
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 700px;
  -webkit-clip-path: circle(50% at 65% 16%);
          clip-path: circle(50% at 65% 16%);
}

.efecto-rayas-3 {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 800px;
}

.efecto-rayas-3:before {
  content: "";
  background: #499bea;
  background: -webkit-gradient(left top, right top, color-stop(0%, #499bea), color-stop(100%, #00affe));
  background: -o-linear-gradient(left, #499bea 0%, #00affe 100%);
  background: -webkit-gradient(linear, left top, right top, from(#499bea), to(#00affe));
  background: linear-gradient(to right, #499bea 0%, #00affe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#499bea", endColorstr="#00affe", GradientType=1 );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  -webkit-clip-path: circle(70% at 0 0);
          clip-path: circle(70% at 0 0);
}

.efecto-rayas-4 {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 450px;
}

.efecto-rayas-4:before {
  content: "";
  background: #00affe;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 450px;
  -webkit-clip-path: polygon(75% 0%, 100% 100%, 75% 100%, 30% 100%, 15% 53%, 0% 0%);
          clip-path: polygon(75% 0%, 100% 100%, 75% 100%, 30% 100%, 15% 53%, 0% 0%);
}

#estudios .img-uni {
  width: 300px;
  height: 300px;
  background: #0672a2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#estudios .img-uni svg {
  width: 225px;
  height: 225px;
}
#estudios .img-uni svg path {
  fill: white;
}

.gmd-3 {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), -56px -56px 1px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), -56px -56px 1px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), -56px -56px 1px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), -56px -56px 1px rgba(253, 253, 253, 0.23);
}

.info-desa {
  background-color: #0672a2;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.azul-text {
  color: #094293;
}

.naranja {
  background-color: #0672a2 !important;
}

.header {
  padding: 10px 16px;
  color: #f1f1f1;
  z-index: 3;
}
@media (min-width: 992px) {
  .header {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: #00affe;
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block;
  /* Display block instead of inline */
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

.overlay a:hover {
  text-decoration: none;
  color: white !important;
  background-color: #0672a2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlay .closebtn:hover {
  background-color: #00affe !important;
}

#estudios {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-uni {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

#sobre-mi {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .header #myNav {
    display: none;
  }
  .header .menu {
    display: none;
  }
  .header #Menu-e {
    display: block;
  }
}
@media (max-width: 991px) {
  .header #myNav {
    display: block;
  }
  .header .menu {
    display: block;
  }
  .header #Menu-e {
    display: none;
  }

  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
#php, #HTML, #CSS, #JAVASCRIPT, #JAVA, #LARAVEL, #HTML5, #BOOSTRAP, #ANGULAR {
  -webkit-transition: all 10s ease;
  -o-transition: all 10s ease;
  transition: all 10s ease;
}

#Menu-e {
  width: 1000px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#Menu-e a {
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  padding-left: 20px;
  padding-right: 20px;
}
#Menu-e a:hover {
  color: black;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.portafolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portafolio .portafolio-gall {
  height: 400px;
}
.portafolio .portafolio-gall img {
  height: 400px;
}

.centrar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  background: #000;
}

h1 {
  color: #fff;
  text-align: center;
}

.efecto-rayas-3 {
  height: auto;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info-desa {
  height: auto;
}
.info-desa .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.info-desa .col-12 .info-web {
  max-width: 600px;
  width: 100%;
}
.info-desa img {
  height: 400px;
  width: 100%;
}

.text-azul {
  color: #0672a2;
}

.portafolio-gall {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portafolio-gall .boton {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 60px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  font-weight: bold;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.portafolio-gall .boton:hover {
  border: 1px solid white;
  text-decoration: none;
  background: #499bea;
  color: white;
  font-weight: bold;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.portafolio-gall:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.bg-azull {
  background: #499bea;
  background: -webkit-gradient(left top, right top, color-stop(0%, #499bea), color-stop(100%, #00affe));
  background: -o-linear-gradient(left, #499bea 0%, #00affe 100%);
  background: -webkit-gradient(linear, left top, right top, from(#499bea), to(#00affe));
  background: linear-gradient(to right, #499bea 0%, #00affe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#499bea", endColorstr="#00affe", GradientType=1 );
}

.hab-len {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50%;
  border: 5px solid white;
  max-width: 350px;
  width: 100%;
  height: 350px;
  background: white;
}
.hab-len .img-len {
  height: 200px;
}

.redes-sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.redes-sociales svg {
  width: 30px;
  height: 30px;
}
.redes-sociales svg path {
  fill: white;
}
.redes-sociales .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  background: #0672a2;
}

.orden-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.poderes {
  height: 320px;
  width: 320px;
  border: 7px outset white;
}

.rotacion {
  width: 350px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation-name: rotar;
          animation-name: rotar;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes rotar {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotar {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
.posicion {
  width: 350px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation-name: rotarr;
          animation-name: rotarr;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes rotarr {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}

@keyframes rotarr {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}
.portafolio {
  overflow: hidden;
}
.portafolio .text-port {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.portafolio-mio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portafolio-mio .rueda {
  width: 600px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.portafolio-mio .rueda .gal-1 {
  position: absolute;
  top: 0;
  width: 250px;
  height: 150px;
  z-index: 1;
}
.portafolio-mio .rueda .gal-1 img {
  min-height: 150px;
  height: 100%;
}
.portafolio-mio .rueda .gal-2 {
  position: absolute;
  bottom: 0;
  width: 250px;
  height: 150px;
}
.portafolio-mio .rueda .gal-2 img {
  min-height: 150px;
  height: 100%;
}
.portafolio-mio .rueda .gal-3 {
  position: absolute;
  right: 0;
  width: 250px;
  height: 150px;
}
.portafolio-mio .rueda .gal-3 img {
  min-height: 150px;
  height: 100%;
}
.portafolio-mio .rueda .gal-4 {
  position: absolute;
  left: 0;
  width: 250px;
  height: 150px;
}
.portafolio-mio .rueda .gal-4 img {
  min-height: 150px;
  height: 100%;
}

.rueda .gal-1 {
  -webkit-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
}

.gal-11 {
  -webkit-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  margin-bottom: 1500px;
}

.rueda .gal-1:hover + .gal-11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: inherit;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  z-index: -1;
  margin: 0;
}
.rueda .gal-1:hover + .gal-11 a {
  height: 100%;
}
.rueda .gal-1:hover + .gal-11 a img {
  height: 100%;
}

.centrar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .port-movil {
    display: none;
  }
}
@media (max-width: 991px) {
  .portafolio {
    display: none;
  }

  .info-desa .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 479px) {
  .info-port {
    background: white;
  }
  .info-port .info-port-2 {
    background: white !important;
  }
  .info-port .info-port-2 .letra {
    text-align: center;
  }

  .efectos-rayas-1:before {
    background: white !important;
  }
}
@media (max-width: 374px) {
  .hab-len {
    height: 300px;
  }
}
@media (min-width: 480px) and (max-width: 576px) {
  .info-port {
    background: #11aaf9;
  }
  .info-port .info-port-2 {
    background: white !important;
  }
  .info-port .info-port-2 .letra {
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */