h1{
  font-family: 'Permanent Marker', cursive;
}
p{
  font-family: 'Montserrat', sans-serif;
}
.portada{
   

    background: white;
    height: 700px;
    width: 100%;
    background-attachment: fixed;
    background-size:cover;
    background-position: center center;
    .img-fondo{
       position: absolute;
       top: 0;
       left: 0;
       
       height: 700px;
    }
  @media (min-width:992px){
    display: flex;
     align-items: center;
          justify-content: center;
     flex-direction:column;
     
      .contenedor{
           width: 100%;
          height: 700px;
           display: flex;
          align-items: center;
          justify-content: center;
           flex-direction:column;
           .info-port{
              background-color: #0672a2;
              max-width: 500px;
              width: 100%;
              height: 400px;
              z-index: 2;
              padding: 3%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              text-align: center;
              margin-left: 400px;
              position:relative;
              h1{
                position: absolute;
                top: 0;
              }

           }
    
      }


   }
}
  @media (min-width:768px) and (max-width:992px){
           .info-port{
                background-color: #0672a2;
              min-width: 200px;
              width: 500px;
              height: 400px;
              z-index: 2;
              padding: 3%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              text-align: center;
              margin-left: 150px;
              position:relative; 
              h1{
                position: absolute;
                top: 0;
              }

            }  


}
  @media (min-width: 576px) and (max-width:768px){
    
          .info-port{
                background-color: #0672a2;
              min-width: 200px;
              width: 400px;
              height: 400px;
              z-index: 2;
              padding: 3%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              text-align: center;
              margin-left: 150px;
              position:relative; 
              h1{
                position: absolute;
                top: 0;
              }

            } 
            .info-port.gmd-3{
                box-shadow: unset;
            }
            .info-port-2{
              width: 200px;
              margin:0;
            }
              .contenedor{
             width: 100%;
            height: 700px;
             display: flex;
            align-items: center;
            justify-content: center;
             flex-direction:column;
             }
             .portada{
   

            background: white;
            height: 700px;
            width: 100%;
            background-attachment: fixed;
            background-size:cover;
            background-position: center center;
          }
          .container-fluid.efecto-rayas,.container-fluid.efecto-rayas:before{
            height: 1200px;
          }

  }
  @media (max-width: 575px){
       
       .portada.efectos-rayas-1{
            height: 350px;
            .img-fondo{
                height: 350px;
            }
            position: relative;

            .contenedor{
                width:200px;
                    background: #0086c2;
                     display: flex;
          align-items: center;
          justify-content: center;
           flex-direction:column;
               position: absolute;
            bottom: 0;
            right: 0px;
               .info-port.gmd-3{
                  width: 180px;
                  margin: 0;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center; 
                  height: 300px; 
                  box-shadow: unset;
                  overflow: hidden;
                  h1{
                    font-size: 1.3rem;
                    width: 200px;
                    margin-left: 200px;

                  }
                  .info-port-2{
                    margin: 0;
                    height: 150px;
                    width: 100%;
                   clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 60% 100%, 39% 76%, 0% 75%);
                    h4{
                      font-size: 1rem;
                    }

                  }
                  
                  .img-portada{
                    position: relative;
                    height: 80px;
                  }
               }
            }
          
       }
      
  }
.img-portada{
  
   height: 150px;
   position: absolute;
   bottom: 0;
   right: 0;
}
.info-port-2{
   
       display: flex;
   
    justify-content: center;
    width: 240px;
    height: 240px;
    margin-left: -208px;
    margin-top: -30px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 80% 75%, 100% 100%, 43% 75%, 0% 75%); 
    h4{
      color: #0672a2;
    font-weight: bold;
    }           
}
.efecto-rayas{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}
.contenido{
  width: 90%;
  max-width: 1000px;
}
.efecto-rayas:before{
  content: '';
     background: #00affe;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 800px;
 clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);


}
.efectos-rayas-1{
    position: relative;
     overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  
}
.efectos-rayas-1:before{
    content: '';
        background: #00affe;
        position: absolute;
        top: 0;
        right: 0;

        width: 100%;
     height: 700px;
clip-path: polygon(21% 0, 90% 0, 100% 100%, 25% 100%)


}
.efecto-rayas-3{
    position: relative;
  overflow: hidden;
   display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}
.efecto-rayas-3:before{
  content: '';
     background: #00affe;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 450px;
 clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);



}
.efecto-rayas-4{
    position: relative;
  overflow: hidden;
   display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}
.efecto-rayas-4:before{
  content: '';
     background: #00affe;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 450px;
 clip-path: polygon(75% 0%, 100% 100%, 75% 100%, 30% 100%, 15% 53%, 0% 0%);




}
.gmd-3 {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), -56px -56px 1px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), -56px -56px 1px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), -56px -56px 1px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), -56px -56px 1px rgba(0, 0, 0, 0.23);
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), -56px -56px 1px rgba(253, 253, 253, 0.23);

}
.info-desa{

  background-color: #0672a2;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.azul-text{
  color:  #094293; 
}
.naranja{
   background-color: #0672a2!important;
}
.header {

  padding: 10px 16px;
  color: #f1f1f1;
  z-index: 3;
  @media (min-width:992px){
     display:flex!important;
     align-items: center!important;
     justify-content: center!important;

  }
  
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: #00affe;; /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}
.overlay a:hover{

  text-decoration: none;
  color: black!important;
  background-color: #fff;
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;

}
.overlay .closebtn:hover{
  background-color: #EA512F!important;
  
}
#estudios{

   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;

}
.info-uni{
   display: flex;
   justify-content: center;
   align-items: center;
  flex-direction:column;
  height: auto;
}
#sobre-mi{
  height: auto;
     display: flex;
   justify-content: center;
   flex-direction:column;
   align-items: center;
}
.img-personal{
   
    display: flex;
   justify-content: center;
   align-items: center;

}
@media (min-width:992px){

  .header{
      #myNav{
         display:none;
      }
      .menu{
            display:none;
      }
      #Menu-e{
          display:block;
      }

  }
}
   

@media  (max-width:991px){
   
   .header{
      #myNav{
         display:block;
      }
      .menu{
            display:block;
      }
      #Menu-e{
          display:none;
      }

  }
    
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
 #php,#HTML,#CSS,#JAVASCRIPT,#JAVA,#LARAVEL,#HTML5,#BOOSTRAP,#ANGULAR{
          
          transition: all 10s ease;
}
#Menu-e{
  
  width: 1000px;
  padding: 5px;
  display:flex;
  justify-content: center;
   align-items: center;
     a{
       text-decoration: none;
        font-size: 22px;
       color:#fff;
       transition: 1s;
       padding-left: 20px;
       padding-right: 20px;
     }
     a:hover{
       
       color: black;
       transition: 1s;
     }

}
.portafolio{
     display: flex;
     justify-content: center;
     flex-direction:column;
     align-items: center;
    .portafolio-gall{
  
        height: 350px;
        transition:2s!important;
        a{
          display: block;
          transition:2s!important;
          img{
            transition:2s!important;
            height: 350px!important;
          }
        }

        @media (min-width:768px ){
            a:hover{
               width: 100%!important;
              // background-color: #094293!important;
               transition:1s;
               text-align: center!important;
               display: block;
               margin-bottom: 5px;
                img{
                    width: 80%!important;
                    height: 350px!important;
                    transition:1s;
                }

            }
         }
      
    }
}
.centrar{
    
    display: flex;
    align-items: center;
    justify-content: center;
}