h1{
  font-family: 'Permanent Marker', cursive;
}
p{
  font-family: 'Montserrat', sans-serif;
}
.portada{
   

    background: white;
    height: 700px;
    width: 100%;
    background-attachment: fixed;
    background-size:cover;
    background-position: center center;
    .img-fondo{
       position: absolute;
       top: 0;
       left: 0;
       
       height: 700px;
    }
  @media (min-width:992px){
    display: flex;
     align-items: center;
          justify-content: center;
     flex-direction:column;
     
      .contenedor{
           width: 100%;
          height: 700px;
           display: flex;
          align-items: center;
          justify-content: center;
           flex-direction:column;
           .info-port{
              background-color: #0672a2;
              max-width: 500px;
              width: 100%;
              height: 400px;
              z-index: 2;
              padding: 3%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              text-align: center;
              margin-left: 400px;
              position:relative;
              h1{
                position: absolute;
                top: 0;
              }

           }
    
      }


   }
}
  @media (min-width:768px) and (max-width:992px){
           .info-port{
                background-color: #0672a2;
              min-width: 200px;
              width: 400px;
              height: 300px;
              z-index: 2;
              padding: 3%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              text-align: center;
              margin-left: 150px;
              position:relative; 
              h1{
                position: absolute;
                top: 0;
              }
              .info-port-2{
                 width: 270px;
                 height: 270px;
              }

            }  


}
  @media (min-width: 576px) and (max-width:768px){
    
          .info-port{
                background-color: #0672a2;
              min-width: 200px;
              width: 340px;
              height: 330px;
              z-index: 2;
              padding: 3%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              text-align: center;
              margin-left: 150px;
              position:absolute;
              right: 0;


              h1{
                position: absolute;
                top: 0;
              }
               .info-port-2{
                width: 260px;
                margin:0;
              }

            } 
            .info-port.gmd-3{
                box-shadow: unset;
            }
           
              .contenedor{
             width: 100%;
            height: 700px;
             display: flex;
            align-items: center;
            justify-content: center;
             flex-direction:column;
             }
             .portada{
   

            background: white;
            height: 700px;
            width: 100%;
            background-attachment: fixed;
            background-size:cover;
            background-position: center center;
          }
          .efecto-rayas{
            height: auto!important;
          }
          .efecto-rayas:before{
            clip-path: circle(50% at 0 50%)!important;
          }
           .efecto-rayas-3{
            height: auto!important;
           }
           .efecto-rayas-3:before{
            clip-path: circle(50% at 100% 50%)!important;
          }
          .efectos-rayas-1:before{
            clip-path: ellipse(67% 96% at 99% 3%)!important;

          }

  }
  @media(max-width: 991px){

     .info-desa{
         
         .row{
            display: flex;
            flex-direction: column-reverse;
            img{
              width: 90%;
            }
         }
     }
     .header{
            position: fixed;
    top: 0;
    left: 0;
     }

     
  }
  @media (max-width: 479px){
       
       .portada.efectos-rayas-1{
            height: 450px;
            .img-fondo{
                height: 450px;
            }
            position: relative;

            .contenedor{
                width:200px;
                    background: #0086c2;
                     display: flex;
          align-items: center;
          justify-content: center;
           flex-direction:column;
               position: absolute;
            bottom: 0;
            right: 0px;
             border-radius: 50%;
               .info-port.gmd-3{
                  width: 180px;
                  margin: 0;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center; 
                  height: 350px; 
                  box-shadow: unset;
                  overflow: hidden;

                  h1{
                    font-size: 1.3rem;
                    width: 200px;
                    margin-left: 200px;

                  }
                  .info-port-2{
                    margin: 0;
                    height: auto;
                    padding-top: 3%;
                    padding-bottom: 3%;
                    width: 100%;
                    h4{
                      font-size: 1rem;
                    }

                  }
                  
                  .img-portada{
                    position: relative;
                    height: 80px;
                  }
               }
            }
          
       }
        .efecto-rayas{
            height: auto!important;
          }
          .efecto-rayas:before{
            clip-path: circle(50% at 11% 50%)!important;
          
          }
           .efecto-rayas-3{
            height: auto!important;
           }
           .efecto-rayas-3:before{
            clip-path: circle(50% at 100% 50%)!important;
          }
          .efectos-rayas-1:before{
         clip-path: ellipse(65% 100% at 100% 0%)!important;
         height: 450px!important;

       }
      
  }
   @media (min-width: 480px) and (max-width: 575px){
       
       .efectos-rayas-1:before{
         clip-path: ellipse(65% 100% at 100% 0%)!important;
         height: 450px!important;

       }
       .portada.efectos-rayas-1{
            height: 450px;
            .img-fondo{
                height: 450px;
            }
            position: relative;

            .contenedor{
                width:330px;
                    background: #0086c2;
                     display: flex;
          align-items: center;
          justify-content: center;
           flex-direction:column;
               position: absolute;
            bottom: 0;
            right: 0px;
            border-radius: 50%;
            box-shadow: unset;
               .info-port.gmd-3{
                  width: 260px;
                  margin: 0;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center; 
                  height: 300px; 
                  box-shadow: unset;
                  overflow: hidden;
                  h1{
                    font-size: 1.3rem;
                    width: 200px;
                    margin-left: 200px;

                  }
                  .info-port-2{
                    margin: 0;
                    height: 150px;
                    width: 100%;
                    h4{
                      font-size: 1rem;
                    }

                  }
                  
                  .img-portada{
                    position: relative;
                    height: 100px;
                    width: 150px;
                  }
               }
            }
          
       }
         .efecto-rayas{
            height: auto!important;
          }
          .efecto-rayas:before{
            clip-path: circle(50% at 11% 50%)!important;
          
          }
           .efecto-rayas-3{
            height: auto!important;
           }
           .efecto-rayas-3:before{
            clip-path: circle(50% at 100% 50%)!important;
          }
      
  }
.img-portada{
  
   height: 150px;
   position: absolute;
   bottom: 0;
   right: 0;
}
.info-port-2{
   
       display: flex;
   align-items: center;
    justify-content: center;
    width: 350px;
    height: 300px;
   
    h4{
      color: #0672a2;
    font-weight: bold;
    }           
}
.efecto-rayas{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}
.contenido{
  width: 90%;
  max-width: 1000px;
}
.efecto-rayas:before{
  content: '';
     //background: #00affe;
           background: rgba(73,155,234,1);
background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(0,175,254,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(0,175,254,1)));
background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(0,175,254,1) 100%);
background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(0,175,254,1) 100%);
background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(0,175,254,1) 100%);
background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(0,175,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#00affe', GradientType=1 );
        
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 800px;
     clip-path: circle(70.0% at 0 100%);


}
.efectos-rayas-1{
    position: relative;
     overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  
}
.efectos-rayas-1:before{
    content: '';
       // background: #00affe;
        background: rgba(73,155,234,1);
background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(0,175,254,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(0,175,254,1)));
background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(0,175,254,1) 100%);
background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(0,175,254,1) 100%);
background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(0,175,254,1) 100%);
background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(0,175,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#00affe', GradientType=1 );
        position: absolute;
        top: 0;
        right: 0;

        width: 100%;
     height: 700px;
clip-path: circle(50% at 65% 16%);


}
.efecto-rayas-3{
    position: relative;
  overflow: hidden;
   display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.efecto-rayas-3:before{
  content: '';
     //background: #00affe;
       background: rgba(73,155,234,1);
background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(0,175,254,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(0,175,254,1)));
background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(0,175,254,1) 100%);
background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(0,175,254,1) 100%);
background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(0,175,254,1) 100%);
background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(0,175,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#00affe', GradientType=1 );
       
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 800px;
     clip-path: circle(70.0% at 0 0);



}
.efecto-rayas-4{
    position: relative;
  overflow: hidden;
   display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}
.efecto-rayas-4:before{
  content: '';
     background: #00affe;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 450px;
 clip-path: polygon(75% 0%, 100% 100%, 75% 100%, 30% 100%, 15% 53%, 0% 0%);




}
.gmd-3 {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), -56px -56px 1px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), -56px -56px 1px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), -56px -56px 1px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), -56px -56px 1px rgba(0, 0, 0, 0.23);
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), -56px -56px 1px rgba(253, 253, 253, 0.23);

}
.info-desa{

  background-color: #0672a2;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.azul-text{
  color:  #094293; 
}
.naranja{
   background-color: #0672a2!important;
}
.header {

  padding: 10px 16px;
  color: #f1f1f1;
  z-index: 3;
  @media (min-width:992px){
     display:flex!important;
     align-items: center!important;
     justify-content: center!important;

  }
  
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: #00affe;; /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}
.overlay a:hover{

  text-decoration: none;
  color: black!important;
  background-color: #fff;
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;

}
.overlay .closebtn:hover{
  background-color: #EA512F!important;
  
}
#estudios{

   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;

}
.info-uni{
   display: flex;
   justify-content: center;
   align-items: center;
  flex-direction:column;
  height: auto;
}
#sobre-mi{
  height: auto;
     display: flex;
   justify-content: center;
   flex-direction:column;
   align-items: center;
}
.img-personal{
   
    display: flex;
   justify-content: center;
   align-items: center;

}
@media (min-width:992px){

  .header{
      #myNav{
         display:none;
      }
      .menu{
            display:none;
      }
      #Menu-e{
          display:block;
      }

  }
}
   

@media  (max-width:991px){
   
   .header{
      #myNav{
         display:block;
      }
      .menu{
            display:block;
      }
      #Menu-e{
          display:none;
      }

  }
    
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
 #php,#HTML,#CSS,#JAVASCRIPT,#JAVA,#LARAVEL,#HTML5,#BOOSTRAP,#ANGULAR{
          
          transition: all 10s ease;
}
#Menu-e{
  
  width: 1000px;
  padding: 5px;
  display:flex;
  justify-content: center;
   align-items: center;
     a{
       text-decoration: none;
        font-size: 22px;
       color:#fff;
       transition: 1s;
       padding-left: 20px;
       padding-right: 20px;
     }
     a:hover{
       
       color: black;
       transition: 1s;
     }

}
.portafolio{
     display: flex;
     justify-content: center;
     flex-direction:column;
     align-items: center;

     .portafolio-gall{
      height: 400px;
      img{
        height: 400px;
      }
     }
}
.centrar{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
  background: #000;
}

h1 {
  color: #fff;
  text-align: center;
}

.circular-progress {
  position: relative;
  margin: auto;
  &,
  &:before,
  &:after {
     width: 12rem;
     height: 12rem;
     border-radius: 50%;
  }
  
  &:before,
  &:after {
     position: absolute;
     top: 0;
     left: 0;
     text-align: center;
  }
  
  &:before {
    line-height: 8rem;
    padding: .5em;
    box-sizing: border-box;
    font-size: 1.8rem;
  }
  
  &:after {
    line-height: 13rem;
  }

}

@function progress ($percent){
  $deg: $percent/100 * 180;
  @return #{$deg}deg;
}

@mixin circular-progress($percent,$skill,$color,$bgcolor){
  $progress: progress($percent);
  background: linear-gradient(
               0deg,
               $color 50%,
               rgba($color, .2) 50%
  );
  transform: rotate($progress);
  
  &:before,
  &:after {
     color: $color;
  }
  
  &:before {
    content: "#{$skill}";
    background: $bgcolor content-box;
    transform: rotate(-#{$progress});
    text-transform: uppercase;
  }
  
  &:after {
    content: "#{$percent}%";
    background: linear-gradient(
                transparent 50%,
                $bgcolor 50%
    );
    transform: scale(1.1)  rotate(-#{$progress});
  }
}

.html5 {
  @include circular-progress(
    80,
    html5,
    black,
    tomato
    )
}

.css3 {
  @include circular-progress(
    85,
    css3,
    white,
    #0672a2
    )
}

.jscript {
  @include circular-progress(
    75,
    js,
    black,
    
    orange
    )
}
.php {
  @include circular-progress(
    70,
    php,
    black,
    rgb(128, 136, 199)
    )
}
.react {
  @include circular-progress(
    55,
    react js,
    black,
    #0672a2
    )
}
.laravel {
  @include circular-progress(
    70,
    Laravel,
    black,
    tomato
    )
}
.java {
  @include circular-progress(
    60,
    java,
    white,
    #bf1d1d
    )
}
.c {
  @include circular-progress(
    60,
    c,
    white,
     #0672a2
    )
}
.boostrap {
  @include circular-progress(
    85,
    Boostrap,
    black,
    purple
    )
}
.efecto-rayas-3{
  height: auto;
}
.skills {
  display: flex;
  margin-top: 4em;
  flex-wrap: wrap;
}
.info-desa{
  height: auto;
  .col-12{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .info-web{
        max-width: 600px;
        width: 90%;
      }
  }
   img{
      height: 400px;
   }
}
.text-azul{

    color:#0672a2;

}